* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home{
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.sign-in, .create-account {
  height: 70vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-in, .create-account {
  background-image: url('../public/images/sign-in-img.jpeg');
}

/* .create-account {
  background-image: url('../public/images/sign-in-img.jpeg');
} */
