.create-heading {
    font-size: 3rem;
    padding-bottom: 20px;
}

.create-form {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.create-input {
    display: flex;
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    font-size: 18px;
    margin-bottom: 16px;
    border: 1px solid #fff;
}

.create-form p {
    word-wrap: normal;
    font-size: 18px;
}
