.new-message-form {
    display: flex;
    flex-direction: column;
}

.new-message-heading {
    font-size: 2rem;
}

.message-items {
    list-style-type: none;
}

.message-item {
    width: 900px;
    height: 130px;
    display: flex;
    flex-direction: column;
    border: 2px solid #242424;
    border-radius: 10px;
    text-align: left;
    padding: 20px;
    margin: 10px;
}

.div-vote {
    width: 150px;
    display: flex;
    flex-direction: row;
    margin: 0;
    margin-left: auto;
}

.message-item-text {
    width: 650px;
}
